html {
	font-family: cursive;
}

@media screen and (max-width: 800px) {
	body {
		padding: 10px;
	}
}
@media screen and (min-width: 800px) {
	body {
		margin: auto;
		padding: 10px 50px;
		max-width: 1200px;
	}
}

pre {
	overflow: scroll;
	padding: 10px 20px;
	background: black;
	color: white;
	border-radius: 10px;
}

pre code {
	padding: 0px;
	border-radius: 0px;
	margin: 0;
	background: black;
}

code {
	font-family: monospace;
	padding: 1px 3px;
	margin: 0px 2px;
	background: #dcdcdc;
	border-radius: 2px;
}

img {
	max-width: 100%;
	height: auto;
	border: 1px solid black;
}

em {
	font-weight: bold;
}

blockquote {
	margin: 0;
}

blockquote p {
	padding: 15px;
	background: #eee;
	border-radius: 5px;
}

h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
}

h3 {
	margin: 30px 0px;
}

strong {
	color: red; /*できるだけstrong要素以外で赤色使わないでほしい*/
}

.date {
	font-size: 13px;
	color: dimgray;
}
