html {
	font-family: sans-serif;
}

body {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: gainsboro;
}

.outer {
	flex-grow: 1;
	background: white;
}

@media screen and (max-width: 800px) {
	.outer {
		margin: auto;
		width: calc(100% - 40px);
		padding: 10px;
	}
}
@media screen and (min-width: 800px) {
	.outer {
		margin: auto;
		padding: 10px 50px;
		width: calc(100% - 50px);
		box-sizing: border-box;
		max-width: 1000px;
	}
}

pre {
	overflow: scroll;
	padding: 10px 20px;
	background: black;
	color: white;
}

pre code {
	padding: 0px;
	border-radius: 0px;
	margin: 0;
	background: black;
}

code {
	font-family: monospace;
	padding: 1px 3px;
	margin: 0px 2px;
	background: #dcdcdc;
	border-radius: 2px;
}

img {
	max-width: 100%;
	height: auto;
	border: 1px solid black;
}

em {
	font-weight: bold;
}

blockquote {
	margin: 0;
}

blockquote p {
	padding: 15px;
	background: #eee;
	border-radius: 5px;
}

h2 {
	margin-top: 70px;
	margin-bottom: 30px;
	border-bottom: 1px solid gray;
}

h3 {
	margin: 30px 0px;
}

strong {
	color: red; /*できるだけstrong要素以外で赤色使わないでほしい*/
}

.date {
	font-size: 13px;
	color: dimgray;
}

footer {
	background: dimgray;
	margin-top: 50px;
	height: 100px;
	width: 100%;
}

.copyright {
	color: white;
	font-size: 15px;
	text-align: center;
	padding-top: 70px;
	margin: 0;
}
