html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

.home {
	background-image: url(pictures/home/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 35%;
	height: 300px;
	text-align: center;
	margin 0;
}

.sitename {
	font-family: serif;
	color: white;
	margin: 0;
}

.welcometo {
	padding-top: 80px;
	font-size: 30px;
	text-shadow: 0 0 5px black;
}

.inthedaydream {
	padding-top: 0px;
	font-size: 45px;
	text-shadow: 0 0 5px black;
}

.sitemenu {
	position: relative;
	padding: 0;
	margin: 30px 0 0 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0px 20px;
}

/*
.sitemenu::before {
	display: block;
	background: linear-gradient(to left, rgba(0,0,0,0), white, rgba(0,0,0,0));
	position: absolute;
	top: -5px;
	height: 0.3mm;
	width: 400px;
}

.sitemenu::after{
	content: "";
	display: block;
	background: linear-gradient(to left, rgba(0,0,0,0), white, rgba(0,0,0,0));
	position: absolute;
	bottom: -5px;
	height: 0.3mm;
	width: 400px;
}
*/


.menuitem {
	font-family: serif;
	font-size: 25px;
	color: white;
	margin: 0;
	text-shadow: 0 0 5px black;
}

.menulink {
	text-decoration: none;
}

.menulink:any-link {
	color: white;
}

.menulink:hover {
	color: gainsboro;
}

.headline {
	text-align: center;
	font-size: 35px;
	margin: 50px;
}

.article_list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px 0;
	padding: 0;
}

@media screen and (max-width: 800px) {
	.article_outer {
		display: block;
		border: 1px solid black;
		width: 90vw;
		height: 80px;
		border-radius: 10px;
		background: gray;
	}

	.article_inner {
		
	}
}

@media screen and (min-width: 800px) {
	.article_outer {
		display:block;
		border: 1px solid black;
		width: 720px;
		height: 80px;
		border-radius: 10px;
		background: gray;
	}

	.article_inner {

	}
}
