html {
	min-height: 100vh;
	font-family: sans-serif;
}

body {
	margin: 0;
	background: #e8e8e8;
	display: flex;
	flex-direction: column;
}

.home {
	background-image: url(pictures/home/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 35%;
	height: 300px;
	text-align: center;
	margin: 0;
}

.sitename {
	font-family: serif;
	color: white;
	margin: 0;
}

.welcometo {
	padding-top: 80px;
	font-size: 30px;
	text-shadow: 0 0 5px black;
}

.inthedaydream {
	padding-top: 0px;
	font-size: 45px;
	text-shadow: 0 0 5px black;
}

.sitemenu {
	position: relative;
	padding: 0;
	margin: 30px 0 0 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0px 20px;
}

/*
.sitemenu::before {
	display: block;
	background: linear-gradient(to left, rgba(0,0,0,0), white, rgba(0,0,0,0));
	position: absolute;
	top: -5px;
	height: 0.3mm;
	width: 400px;
}

.sitemenu::after{
	content: "";
	display: block;
	background: linear-gradient(to left, rgba(0,0,0,0), white, rgba(0,0,0,0));
	position: absolute;
	bottom: -5px;
	height: 0.3mm;
	width: 400px;
}
*/


.menuitem {
	font-family: serif;
	font-size: 25px;
	color: white;
	margin: 0;
	text-shadow: 0 0 5px black;
}

.menulink {
	text-decoration: none;
}

.menulink:any-link {
	color: white;
}

.menulink:hover {
	color: gainsboro;
}

.headline {
	text-align: center;
	font-size: 35px;
	margin: 50px;
}

.articles {
	margin: 0 100px;
	flex-grow: 1;
}

.article_list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px 30px;
	padding: 0;
}

.article_outer {
	display: block;
	background: white;
	border-radius: 10px;
}

@media screen and (max-width: 500px) {
	.article_outer {
		width: 300px;
		height: 120px;
	}
}

@media screen and (min-width: 500px) {
	.article_outer {
		width: 400px;
		height: 150px;
	}
}

.article_outer:hover {
	box-shadow: 1px 1px 30px -20px black;
}

.article_outer:any-link {
	text-decoration: none;
	color: black;
}

.article_inner {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 500px) {
	.itempic {
		height: 60px;
		padding: 20px;
		margin: 10px;
	}
}

@media screen and (min-width: 500px) {
	.itempic {
		height: 70px;
		padding: 30px;
		margin: 10px;
	}
}

.itempic {
	box-shadow: 0px 0px 2px;
}

@media screen and (max-width: 500px) {
	.description {
		height: 70px;
	}
}

@media screen and (min-width: 500px) {
	.description {
		height: 95px;
	}
}

.description {
	margin-right: 10px;
	font-size: 15px;
	font-weight: bold;
	overflow: hidden;
}

.date {
	font-size: 13px;
	color: gray;
}

footer {
	background: dimgray;
	margin-top: 100px;
	height: 100px;
	width: 100vw;
}

.copyright {
	color: white;
	font-size: 15px;
	text-align: center;
	padding-top: 70px;
	margin: 0;
}
