img {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

#content h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid gray;
    margin-top: 3em;
}

#content h2::before {
    content: "## ";
}

#content h3 {
    padding-top: 2em;
}

#content h3::before {
    content: "### ";
}

#content h4 {
    padding-top: 2em;
}

#content h4::before {
    content: "#### ";
}

#main-menu-nav-items {
    grid-template-columns: repeat(5, 20%);
}

.block-separater {
    margin-top: 50px;
}

#content-footer {
    margin-top: 70px;
}

.related-tag-category-list {
    margin-top: 5em;
}
